{% extends "base.html" %}

{% block content %}

    <div>

        <div class="container" style="opacity: 0.85; background-color:white; border: 2px solid black; padding: 25px; bottom: 50%; transform: translate(0%, 26%);">
            <br>

            <div class="row align-items-center justify-content-center">
                <h1>Edit Movie Database</h1>
            </div>

            <form action="/edit_table" method="POST">
                <h2>Enter movie title to edit</h2>
                <div class="form-row">
                    <label for="title">Movie Title</label>
                    <input class="form-control" type="text" placeholder="Title of Movie" id="title" name="title">
                <br>
                <h2>Enter new title, director name, and year of release for previously entered title</h2>
                </div>

                <div class="form-row">
                    <label for="newtitle">Title</label>
                    <input class="form-control" type="text" placeholder="New Title" id="newtitle" name="newtitle">
                </div>
                <br>
                <div class="form-row">
                    <label for="director">Director</label>
                    <input class="form-control" type="text" placeholder="Director Name" id="director" name="director">
                </div>
                <br>
                <div class="form-row ">
                    <label for="published">Year Released</label>
                    <input class="form-control" type="text" placeholder="Year Released" id="released" name="released">
                </div>

                <br>
                <button type="submit " class="btn btn-primary" onClick="confSubmit(this.form);" style="float:right ">Submit</button>
            
            </form>
            <br><br>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy " crossorigin="anonymous "></script>

    <script type="text/javascript">

        function confSubmit(form) {
        if (confirm("Are you sure you want to submit the form?")) {
        form.submit();
        }
        
        else {
        alert("You decided to not submit the form!");
        }
        }
        </script>

{% endblock %}